[ContrastEffect]
contrast=0.2
enabled=false
intensity=0.4
saturation=1.7

[Desktop Entry]
Name=Gently
X-KDE-PluginInfo-Author=Hawkeye0021
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=Hawkeye021@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=Gently
X-KDE-PluginInfo-Version=.0.5
X-KDE-PluginInfo-Website=
