[Desktop Entry]
Comment=A dark, gentle plasma theme.
Name=Gently
X-KDE-PluginInfo-Author=Hawkeye0021
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=Hawkeye021@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=Gently
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/Hawkeye0021/gently
X-KDE-ServiceTypes=Plasma/LookAndFeel
